@use './../abstract/breakpoints';
@use './../abstract/colors';
@use './../abstract/mixins';
@use './../base/typography';
@use './../abstract/border-radius';
@use './../abstract/border';
@use './../abstract/gradient';
@use './../base/line-height';
@use './../abstract/variables';

@mixin link {
  font-size: typography.to-rem(14px);
  line-height: line-height.$line-height-16;
  font-weight: 600;
  min-width: 68px;
  white-space: nowrap;
  color: colors.$gray-80;
  display: block;
  width: fit-content;

  &:visited {
    color: colors.$gray-80;
  }
}

@mixin button-primary {
  text-align: center;
  padding: 12px 24px;
  background: colors.$gray-80;
  color: colors.$white;
  font-size: typography.to-rem(14);
  line-height: line-height.$line-height-16;
  height: 40px;
  border-radius: border-radius.$border-radius-28;
  text-decoration: none;
  font-weight: 600;

  &:visited {
    color: colors.$white;
  }

  &:hover {
    font-weight: 600;
    background: colors.$gray-70;
  }

  &:active {
    background: colors.$dark-pink;
    color: colors.$white;
  }
}

@mixin button-primary-disabled {
  background: colors.$gray-20;
  pointer-events: none;
  color: colors.$gray-60;

  &:visited {
    color: colors.$gray-60;
  }
}

@mixin button-secondary {
  padding: 12px variables.$xs-gutter;
  background: colors.$white;
  border: border.$border-1-solid-gray80;
  color: colors.$gray-80;
  font-size: typography.to-rem(14);
  line-height: line-height.$line-height-16;
  height: 40px;
  border-radius: border-radius.$border-radius-28;
  text-decoration: none;
  font-weight: 600;

  &:visited {
    color: colors.$gray-80;
  }

  &:hover {
    font-weight: 600;
    box-shadow: 0 0 0 1px colors.$gray-80 inset;
  }

  &:active {
    box-shadow: none;
    border: border.$border-1-solid-dark-pink;
    color: colors.$dark-pink;
  }
}

@mixin button-secondary-disabled {
  background: colors.$gray-light;
  border: border.$border-1-solid-gray20;
  pointer-events: none;
  color: colors.$gray-70;

  &:visited {
    color: colors.$gray-70;
  }
}

@mixin button-tertiary {
  min-width: 68px;
  white-space: nowrap;
  color: colors.$gray-80;
  display: flex;
  text-decoration: none;
  max-height: 28px;
  flex-direction: row;
  @include typography.subheading1;

  &:visited {
    color: colors.$gray-80;
  }

  &:hover {
    font-weight: 700;
    @include gradient.titleGradient;

    .link__button-tertiary-arrow {
      display: none;
    }

    .link__button-tertiary-arrow-active {
      display: flex;
    }
  }
}
