/* 
How to use, examples:
in .html: <i className="icon icon--28 icon--chevron-left"></i>
in .scss: @include icons.background-icon('mute');
*/

$icon-name-map: (
  'add',
  'arrow-circle-right',
  'arrow-down-active',
  'arrow-down',
  'arrow-right-active',
  'arrow-right',
  'arrow-up-active',
  'arrow-up',
  'chevron-down-white',
  'chevron-down',
  'chevron-left',
  'chevron-right',
  'chevron-up',
  'dismiss',
  'double-chevron-down',
  'facebook',
  'fax',
  'full-screen',
  'globe-active',
  'globe',
  'hamburger',
  'instagram',
  'link',
  'linkedin',
  'minimize-screen',
  'mute',
  'pause',
  'phone',
  'picture-in-picture-exit',
  'picture-in-picture',
  'pinterest',
  'play-button',
  'play',
  'search-active',
  'search',
  'share',
  'sparkle',
  'subtract',
  'volume-1',
  'volume-2',
  'volume-3',
  'youtube'
);

$icon-size-map: (
  '16': 16px,
  '24': 24px,
  '28': 28px,
  '32': 32px,
  '48': 48px,
);

@mixin icon-size($new-icons-size-map) {
  @each $name, $value in $new-icons-size-map {
    .icon.icon--#{$name} {
      width: $value;
      height: $value;
      min-width: $value;
      min-height: $value;
    }
  }
}
@include icon-size($icon-size-map);

@mixin icon-name($new-icon-name) {
  @each $name in $new-icon-name {
    .icon--#{$name} {
      &::before {
        background-image: url('../../assets/icons/#{$name}.svg');
      }
    }
  }
}
@include icon-name($icon-name-map);

@mixin background-icon($new-icon-name) {
  @each $name in $new-icon-name {
    background-image: url('../../assets/icons/#{$name}.svg');
  }
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;

  &::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
  }
}
