@use './../abstract/breakpoints';
@use './../abstract/colors';
@use './../abstract/mixins';
@use './../base/line-height';

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
@function to-rem($pxValue) {
  @return #{strip-unit($pxValue) / strip-unit(16px)}rem;
}

$ff-primary: 'Segoe UI', 'OpenSans', 'Roboto', 'Arial', 'Tahoma', 'Helvetica', sans-serif;
$base-line-height: line-height.$line-height-base;
$body--font-size: to-rem(16px);

html {
  font-family: $ff-primary;
  font-weight: normal;
  color: colors.$gray-80;
  line-height: $base-line-height;
  font-size: $body--font-size;
}

/*** H1 ***/
@mixin h1 {
  @include breakpoints.screen(only-phone) {
    @include mixins.setFontStyles(to-rem(40px), 50px, 700, none);
  }
  @include breakpoints.screen(only-tablet) {
    @include mixins.setFontStyles(to-rem(60px), 70px, 700, none);
  }
  @include breakpoints.screen(desktop-and-up) {
    @include mixins.setFontStyles(to-rem(80px), 90px, 700, none);
  }
}

h1,
.h1 {
  @include h1;
}

/*** H2 ***/
@mixin h2 {
  @include breakpoints.screen(only-phone) {
    @include mixins.setFontStyles(to-rem(30px), 40px, 700, none);
  }
  @include breakpoints.screen(only-tablet) {
    @include mixins.setFontStyles(to-rem(40px), 54px, 700, none);
  }
  @include breakpoints.screen(desktop-and-up) {
    @include mixins.setFontStyles(to-rem(60px), 70px, 700, none);
  }
}

h2,
.h2 {
  @include h2;
}

/*** H3 ***/
@mixin h3 {
  @include breakpoints.screen(only-phone) {
    @include mixins.setFontStyles(to-rem(24px), normal, 700, none);
  }
  @include breakpoints.screen(only-tablet) {
    @include mixins.setFontStyles(to-rem(30px), 38px, 700, none);
  }
  @include breakpoints.screen(desktop-and-up) {
    @include mixins.setFontStyles(to-rem(40px), normal, 700, none);
  }
}

h3,
.h3 {
  @include h3;
}

/*** H4 ***/
@mixin h4 {
  @include breakpoints.screen(only-phone) {
    @include mixins.setFontStyles(to-rem(20px), normal, 700, none);
  }
  @include breakpoints.screen(only-tablet) {
    @include mixins.setFontStyles(to-rem(24px), 38px, 700, none);
  }
  @include breakpoints.screen(desktop-and-up) {
    @include mixins.setFontStyles(to-rem(32px), normal, 700, none);
  }
}

h4,
.h4 {
  @include h4;
}

/*** H4 ***/
@mixin h4-link {
  @include mixins.setFontStyles(to-rem(32px), normal, 400, underline);

  &:hover {
    cursor: pointer;
  }
}

.h4-link,
h4.h4-link {
  @include h4-link;
}

/*** H5 ***/
@mixin h5 {
  @include breakpoints.screen(only-phone) {
    @include mixins.setFontStyles(to-rem(18px), normal, 700, none);
  }
  @include breakpoints.screen(only-tablet) {
    @include mixins.setFontStyles(to-rem(20px), normal, 700, none);
  }
  @include breakpoints.screen(desktop-and-up) {
    @include mixins.setFontStyles(to-rem(24px), normal, 700, none);
  }
}

h5,
.h5 {
  @include h5;
}

/*** H6 ***/
@mixin h6 {
  @include breakpoints.screen(only-phone) {
    @include mixins.setFontStyles(to-rem(16px), normal, 700, none);
  }
  @include breakpoints.screen(only-tablet) {
    @include mixins.setFontStyles(to-rem(18px), 38px, 700, none);
  }
  @include breakpoints.screen(desktop-and-up) {
    @include mixins.setFontStyles(to-rem(20px), normal, 700, none);
  }
}

h6,
.h6 {
  @include h6;
}

/*** H6-LINK ***/
@mixin h6-link {
  @include mixins.setFontStyles(to-rem(20px), normal, 400, underline);

  &:hover {
    cursor: pointer;
  }
}

.h6-link,
h6.h6-link {
  @include h6-link;
}

/*** SUBHEADING 1 ***/
@mixin subheading1 {
  @include mixins.setFontStyles(to-rem(18px), normal, 700, none);
}

.subheading1 {
  @include subheading1;
}

/*** SUBHEADING 2 ***/
@mixin subheading2 {
  @include mixins.setFontStyles(to-rem(18px), normal, 400, none);
}

.subheading2 {
  @include subheading2;
}

/*** BODY 1 ***/
@mixin body1 {
  @include mixins.setFontStyles(to-rem(16px), 24px, 700, none);
}

.body1 {
  @include body1;
}

/*** BODY 2 ***/
@mixin body2 {
  @include mixins.setFontStyles(to-rem(16px), 24px, 400, none);
}

.body2 {
  @include body2;
}

/*** BODY 2 LINK ***/
@mixin body2-link {
  @include mixins.setFontStyles(to-rem(16px), 24px, 400, underline);

  &:hover {
    cursor: pointer;
  }
}

.body2-link {
  @include body2-link;
}

/*** BODY 2 ITALIC ***/
@mixin body2-italic {
  @include mixins.setFontStyles(to-rem(16px), 24px, 400, none);
  font-style: italic;
}

.body2-italic {
  @include body2-italic;
}

/*** CAPTION ***/
@mixin caption {
  @include mixins.setFontStyles(to-rem(12px), normal, 400, none);
}

caption,
.caption {
  @include caption;
}

/*** NUMERIC ***/
@mixin numeric {
  @include mixins.setFontStyles(to-rem(60px), 40px, 400, none);
}

.numeric {
  @include numeric;
}

/*** GIANT NUMERIC ***/
@mixin giant-numeric {
  @include breakpoints.screen(only-phone) {
    @include mixins.setFontStyles(to-rem(168px), 141px, 600, none);
  }
  @include breakpoints.screen(only-tablet) {
    @include mixins.setFontStyles(to-rem(168px), 142px, 600, none);
  }
  @include breakpoints.screen(desktop-and-up) {
    @include mixins.setFontStyles(to-rem(264px), 222px, 600, none);
  }
}

.giant-numeric {
  @include giant-numeric;
}

a {
  color: colors.$gray-80;
  text-decoration: underline;
}
