@use '../abstract/colors';

@function border($size, $variant, $color) {
  @return $size $variant $color;
}

// gray
$border-1-solid-gray20: border(1px, solid, colors.$gray-20);
$border-0-5-solid-gray30: border(0.5px, solid, colors.$gray-30);
$border-1-solid-gray30: border(1px, solid, colors.$gray-30);
$border-1-dashed-gray30: border(1px, dashed, colors.$gray-30);
$border-1-solid-gray40: border(1px, solid, colors.$gray-40);
$border-2-dashed-gray70: border(2px, dashed, colors.$gray-70);
$border-1-solid-gray80: border(1px, solid, colors.$gray-80);
$border-3-solid-gray80: border(3px, solid, colors.$gray-80);
// red
$border-1-solid-red: border(1px, solid, colors.$scarlet);

// dark pink
$border-1-solid-dark-pink: border(1px, solid, colors.$dark-pink);

// transparent
$border-3-solid-transparent: border(3px, solid, transparent);
$border-4-solid-transparent: border(4px, solid, transparent);
$border-8-solid-transparent: border(8px, solid, transparent);
