@use '../abstract/variables';
@use '../abstract/gradient';
@use '../abstract/colors';
@use '../abstract/shadows';
@use '../abstract/breakpoints';

.mb--0 {
  margin-bottom: 0 !important;
}

.mb--80 {
  margin-bottom: -(variables.$vertical-gutter) !important;
}

.mt--80 {
  margin-top: -(variables.$vertical-gutter) !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.pt-80 {
  padding-top: variables.$vertical-gutter !important;
}

.position-left {
  text-align: left !important;
}

.position-center {
  text-align: center !important;
}

.position-right {
  text-align: right !important;
}

.center-text {
  text-align: center !important;
}

.uppercase {
  text-transform: uppercase;
}

.titleGradient-class {
  @include gradient.titleGradient;
}

.drop-shadow-5-class {
  @include shadows.drop-shadow-5;
}

.drop-shadow-20-class {
  @include shadows.drop-shadow-20;
}

.text-shadow-class {
  @include gradient.titleGradient;
}

.hide-sm {
  display: none;

  @include breakpoints.screen(tablet-and-up) {
    display: inherit;
  }
}

.color-grey-80 {
  color: colors.$gray-80 !important;
}
