@use './../../sass/base/buttons';
@use './../../sass/abstract/mixins';

.link {
  @include buttons.link;

  &--capitalize {
    @include mixins.change-uppercase-to-capitalize;
  }

  &__button-primary {
    @include buttons.button-primary;

    &--disabled {
      @include buttons.button-primary-disabled;
    }
  }

  &__button-secondary {
    @include buttons.button-secondary;

    &--disabled {
      @include buttons.button-secondary-disabled;
    }
  }

  &__button-tertiary {
    @include buttons.button-tertiary;
  }

  &__button-tertiary-arrow-active {
    display: none;
  }

  &__button-tertiary-arrow {
    display: flex;
  }

  &__button-tertiary-image-container {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  &__button-tertiary-text {
    max-height: 24px;
  }
}
