.highlighted-top {
    background: #fff;
    border-top-width: 3px;
    border-top-color: #15909c;
    border-style: solid;
    padding: 25px;
    margin: 0;

    h1, 
    h2, 
    h3, 
    h4 {
        margin: 0 0 10px;

    }

}

.highlighted-bottom {
    background: #fff;
    border-bottom-width: 3px;
    border-bottom-color: #15909c;
    border-style: solid;
    padding: 25px;
    margin: 0;
    h1, 
    h2, 
    h3, 
    h4 {
        margin: 0 0 10px;

    }

}

.highlighted-left {
    background: #fff;
    border-left-width: 3px;
    border-left-color: #15909c;
    border-style: solid;
    padding: 25px;
    margin: 0;
    h1, 
    h2, 
    h3, 
    h4 {
        margin: 0 0 10px;

    }

}

.highlighted-right {
    background: #fff;
    border-right-width: 3px;
    border-right-color: #15909c;
    border-style: solid;
    padding: 25px;
    margin: 0;
    h1, 
    h2, 
    h3, 
    h4 {
        margin: 0 0 10px;

    }

}