@import "../../abstracts/mixins";

//files icons
.field-filetypeicon>a>span, .pdf, .xls, .xlsx, .pptx, .ppt, .docx, .doc, .bmp, .png, .jpg, .jpeg, .psd, .gif, .avi, .mp4, .wmv, .mov, .mp3, .wma, .txt, .zip {
    display: inline-block;
    box-sizing: border-box;
    font-weight: normal;
    width: 15px;
    height: 21px;
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
        font-size: 16px !important;
        position: absolute;
        display: block;
        top: 50%;
        margin: 0;
        padding: 0;
        transform: translateY(-50%);
    }
}

