@use "../../sass/abstract/vars";
@use "../../sass/abstract/mixins";

.content, .rich-text {
    border: $rich-content-border;
    line-height: 1.5;
    font-size: 12px;
    overflow: hidden;

    * {
        max-width: 100%;
    }
    @use "../../sass/base/richtext";
}
