@use '../../../../sass/abstract/colors';
@use '../../../../sass/abstract/variables';

.vertical-card {
  padding: 0;
  height: 452px;
  width: 264px;
  border-radius: 0;
  background-color: colors.$white;

  &__image {
    height: 264px;
    width: 264px;
  }

  .link__button-tertiary {
    margin-top: variables.$xs-gutter;
  }

  &__content__text__title {
    margin-top: variables.$xs-gutter;
  }

  &__content__text__body {
    margin-top: 8px;
  }

  &:hover {
    cursor: pointer;
  }
}
